body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.header-container,
.main-container,
.footer-container {
  margin: 0px auto;
  max-width: 940px;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.footer-container {

}

.harvard-link {
  color: #A41034;
}

#stanford-link {
  color: #8c1515;
}

.big-nerd-ranch-book {
  color: rgb(237, 107, 69);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px 0 0;
  padding: 0
}

nav li {
  margin-left: 14px;
  text-transform: uppercase
}

.container {
  padding: .4rem .8rem;
  margin: 0 auto;
  width: 100%
}

#bio-container, #portfolio-container {
  margin-top: 40px;
}

#contact-link {
  color: red;
  font-weight: 500;
}

#portfolio-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.apps-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.apps-list a {
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin: 1rem;
  width: 46.5%;
}

.apps-list a div {
  margin: 8px;
}

footer div {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



