body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header {
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

nav {
    float: right
}

nav ul {
    margin: 8px 0 0;
    padding: 0
}

nav li {
    display: inline;
    font-family: 'Sorry Bold';
    margin-left: 14px;
    text-transform: uppercase
}

.container {
    padding: .4rem .8rem;
    margin: 0 auto;
    width: 100%
}



